In [1]:
import tabula
import pandas as pd
import requests 
import json
from pandas.io.json import json_normalize
import numpy as np

### pobieranie tabel

In [9]:
# Read pdf into DataFrame
#https://stackoverflow.com/questions/45457054/tabula-extract-tables-by-area-coordinates
#pobieranie danych dla diecezji
#https://docs.google.com/spreadsheets/d/1WHCrTZX2WJeYStcG58wh6y9Q58bwhGRG92iLxz4Paek/edit#gid=752560630
df = tabula.read_pdf("dane_pdf/analiza_elektoratu/2019/K_135_17.PDF",
                     multiple_tables=True, 
                     pages=[10],
                     #stream = True
                     guess = True,  
                     #pandas_options={'header':True},
                     #area=(20, 40, 695, 589),
                     spreadsheet=True
                    )
name = '2017_10'

In [10]:
df

[                              0            1                 2  \
 0  PiS\r(wraz SP i PR)\r(N=300)  PO\r(N=131)  Kukiz’15\r(N=53)

                      3
 0  Nowoczesna*\r(N=41)  ,     0   1   2   3
 0   -   3  33   0
 1   3   -   6  38
 2   1   5   2   5
 3   3   2  10   0
 4   5  11   6   8
 5   2   4   6   8
 6  42   8   -   7
 7   1  44  13   -
 8   -   2   2   2
 9  35  18  21  30]

In [60]:
del df[1][4]

In [11]:
df_clean = pd.concat(df[:2]).reset_index()#.drop([0,2])
#df_clean.iloc[0,5] = df_clean.iloc[0,5].replace('r','')
#list_col = [ str(c).split('\rN')[0] for c in df_clean.iloc[0].to_list()]
list_col = df[0].loc[0].to_list()
list_col = [ str(c).replace('\r', '') for c in list_col]
del df_clean['index']
df_clean

,0,1,2,3
0,PiS\r(wraz SP i PR)\r(N=300),PO\r(N=131),Kukiz’15\r(N=53),Nowoczesna*\r(N=41)
1,-,3,33,0
2,3,-,6,38
3,1,5,2,5
4,3,2,10,0
5,5,11,6,8
6,2,4,6,8
7,42,8,-,7
8,1,44,13,-
9,-,2,2,2
10,35,18,21,30

In [48]:
df_clean.iloc[0]
columns = df_clean.iloc[0]
list_col[0] = 'Party'
#df_clean.columns = list_col
#df_clean = df_clean.drop([0])

In [49]:
df_clean

,0,1,2,3,4,5
0,PiS\r(+ SP i P)\rN=500,PO\rN=231,Wiosna\rN=161,Kukiz’15\rN=80,SLD\rN=46,PSL\rN=54
1,30,3,7,-,2,9
2,3,-,27,9,18,36
3,8,16,5,3,18,-
4,1,24,-,4,24,4
5,1,14,11,3,-,2
6,1,19,7,3,2,5
7,-,2,2,30,0,7
8,1,1,13,0,0,2
9,3,1,2,6,2,2
10,2,0,0,5,0,4
11,1,1,4,2,2,2
12,43,17,16,30,25,22

In [12]:
df_clean.loc[0] = [str(c).replace('\r', '') for c in df_clean.loc[0]]

In [13]:
df_clean = df_clean.fillna(0)
df_clean

                           0          1               2                  3
0   PiS(wraz SP i PR)(N=300)  PO(N=131)  Kukiz’15(N=53)  Nowoczesna*(N=41)
1                          -          3              33                  0
2                          3          -               6                 38
3                          1          5               2                  5
4                          3          2              10                  0
5                          5         11               6                  8
6                          2          4               6                  8
7                         42          8               -                  7
8                          1         44              13                  -
9                          -          2               2                  2
10                        35         18              21                 30

In [14]:
df_clean.to_csv('dane_pdf/analiza_elektoratu/'+name+'.csv', index = False, header=False)

# Dane - pytanie elektoratów

In [66]:
df = tabula.read_pdf("dane_pdf/charaktetyryka_pogladow/pdf/K_075_03.PDF",
                     multiple_tables=True, 
                     pages=[19],
                     #stream = True
                     guess = True,  
                     #pandas_options={'header':True},
                     #area=(20, 40, 695, 589),
                     spreadsheet=True
                    )

In [67]:
df_names = df[0]

## Points

In [68]:
for i in range(len(df)):
    df[i] = df[i].dropna().reset_index()
    df[i]
catg = 'points'

## Percent

In [58]:
for i in range(len(df)):
    df[i] = df[i].drop(0)
    df[i] = df[i].drop(2)
    df[i]
catg = 'percent'

In [69]:
result = pd.concat([df_names,df[0],df[1]]).reset_index()
del result['index']
try:
    del result['level_0']
except:
    pass
result

,0,1,2,3,4,5,6
0,Pary przeciwstawnych stwierdzeń,SLD,PSL,Samo-\robrona,PO,PiS,LPR
1,NaN,Wartości średnie na skali 1-7,NaN,NaN,NaN,NaN,NaN
2,(1) Należy przede wszystkim dbać o kulturową\r...,"4,51","3,27","3,72","4,24","4,07","3,19"
3,(7) Należy jak najszerzej otworzyć się na wspó...,NaN,NaN,NaN,NaN,NaN,NaN
4,(1) Integracja Polski z Unią Europejską przyni...,"5,30","4,46","3,45","5,04","4,34","3,09"
5,(7) Integracja Polski z Unią Europejską przyni...,NaN,NaN,NaN,NaN,NaN,NaN
6,(1) Rolnictwo powinno otrzymywać dotacje z bud...,"2,83","2,32","2,33","2,77","3,06","2,31"
7,(7) Rolnictwo nie powinno dostawać żadnych dot...,NaN,NaN,NaN,NaN,NaN,NaN
8,(1) Należy prywatyzować powoli i tylko niektór...,"2,34","2,38","1,91","3,44","3,21","1,68"
9,(7) Należy prywatyzować szybko i jak największ...,NaN,NaN,NaN,NaN,NaN,NaN
10,(1) Państwo powinno zapewnić obywatelom wysoki...,"1,94","2,06","1,59","2,60","2,14","1,71"
11,(7) Obywatele powinni dbać o zapewnienie sobie...,NaN,NaN,NaN,NaN,NaN,NaN
12,(1) Powinno się ograniczyć zarobki osób najwyż...,"2,52","2,06","1,92","3,77","3,24","2,04"
13,(7) Nie należy ograniczać wysokości zarobków,NaN,NaN,NaN,NaN,NaN,NaN
14,(1) Bezrobocie jest zawsze zjawiskiem szkodliw...,"2,58","2,33","1,60","3,94","2,97","2,30"
15,(7) Istnienie niewielkiego bezrobocia jest poż...,NaN,NaN,NaN,NaN,NaN,NaN
16,"(1) Z przestępczością należy walczyć twardo, n...","3,67","3,56","3,41","4,13","3,96","3,31"
17,"(7) Z przestępczością należy walczyć, ale tak,...",NaN,NaN,NaN,NaN,NaN,NaN
18,(1) Okres PRL w polskiej historii należy oceni...,"3,87","3,65","3,46","4,82","5,19","4,11"
19,(7) Okres PRL w polskiej historii należy oceni...,NaN,NaN,NaN,NaN,NaN,NaN
20,(1) Kościół powinien być od państwa oddzielony...,"1,54","2,21","2,09","1,97","2,32","3,55"
21,(7) Kościół powinien mieć duży wpływ na sprawy...,NaN,NaN,NaN,NaN,NaN,NaN
22,(1) Przerywanie ciąży powinno być dozwolone be...,"3,78","4,10","4,38","4,21","4,39","5,75"
23,(7) Przerywanie ciąży powinno być całkowicie z...,NaN,NaN,NaN,NaN,NaN,NaN
24,Pary przeciwstawnych stwierdzeń,SLD,PSL,Samo-\robrona,PO,PiS,LPR
25,(1) Należy przede wszystkim dbać o kulturową\r...,"4,51","3,27","3,72","4,24","4,07","3,19"
26,(1) Integracja Polski z Unią Europejską przyni...,"5,30","4,46","3,45","5,04","4,34","3,09"
27,(1) Rolnictwo powinno otrzymywać dotacje z bud...,"2,83","2,32","2,33","2,77","3,06","2,31"
28,(1) Należy prywatyzować powoli i tylko niektór...,"2,34","2,38","1,91","3,44","3,21","1,68"
29,(1) Państwo powinno zapewnić obywatelom wysoki...,"1,94","2,06","1,59","2,60","2,14","1,71"
30,(1) Powinno się ograniczyć zarobki osób najwyż...,"2,52","2,06","1,92","3,77","3,24","2,04"
31,(1) Bezrobocie jest zawsze zjawiskiem szkodliw...,"2,58","2,33","1,60","3,94","2,97","2,30"
32,"(1) Z przestępczością należy walczyć twardo, n...","3,67","3,56","3,41","4,13","3,96","3,31"
33,(1) Okres PRL w polskiej historii należy oceni...,"3,87","3,65","3,46","4,82","5,19","4,11"
34,(1) Kościół powinien być od państwa oddzielony...,"1,54","2,21","2,09","1,97","2,32","3,55"
35,(1) Przerywanie ciąży powinno być dozwolone be...,"3,78","4,10","4,38","4,21","4,39","5,75"

In [70]:
result = result.drop_duplicates(subset=None, keep='first', inplace=False)

In [71]:
result = result.apply(lambda x: x.str.replace(',','.'))

In [72]:
result[0] = [q.replace('\n',' ').replace('\r','').replace('-','') if type(q) == str else 'Question' for q in result[0]]
result.loc[0] = [q.replace('\n',' ').replace('\r','').replace('-','') if type(q) == str else 'Question' for q in result.loc[0]]

In [74]:
result = result.drop([1]).dropna(axis='rows')
result

,0,1,2,3,4,5,6
0,Pary przeciwstawnych stwierdzeń,SLD,PSL,Samoobrona,PO,PiS,LPR
2,(1) Należy przede wszystkim dbać o kulturowąi ...,4.51,3.27,3.72,4.24,4.07,3.19
4,(1) Integracja Polski z Unią Europejską przyni...,5.30,4.46,3.45,5.04,4.34,3.09
6,(1) Rolnictwo powinno otrzymywać dotacje z bud...,2.83,2.32,2.33,2.77,3.06,2.31
8,(1) Należy prywatyzować powoli i tylko niektór...,2.34,2.38,1.91,3.44,3.21,1.68
10,(1) Państwo powinno zapewnić obywatelom wysoki...,1.94,2.06,1.59,2.60,2.14,1.71
12,(1) Powinno się ograniczyć zarobki osób najwyż...,2.52,2.06,1.92,3.77,3.24,2.04
14,(1) Bezrobocie jest zawsze zjawiskiem szkodliw...,2.58,2.33,1.60,3.94,2.97,2.30
16,(1) Z przestępczością należy walczyć twardo. n...,3.67,3.56,3.41,4.13,3.96,3.31
18,(1) Okres PRL w polskiej historii należy oceni...,3.87,3.65,3.46,4.82,5.19,4.11
20,(1) Kościół powinien być od państwa oddzielony...,1.54,2.21,2.09,1.97,2.32,3.55
22,(1) Przerywanie ciąży powinno być dozwolone be...,3.78,4.10,4.38,4.21,4.39,5.75

In [75]:
result.to_csv('dane_pdf/charaktetyryka_pogladow/2003_'+catg+'.csv', index = False, header=False)

In [136]:
catg = 'points'