In [1]:
import tabula
import pandas as pd
import requests 
import json
from pandas.io.json import json_normalize
import numpy as np

### pobieranie tabel

In [9]:
# Read pdf into DataFrame
#https://stackoverflow.com/questions/45457054/tabula-extract-tables-by-area-coordinates
#pobieranie danych dla diecezji
#https://docs.google.com/spreadsheets/d/1WHCrTZX2WJeYStcG58wh6y9Q58bwhGRG92iLxz4Paek/edit#gid=752560630
df = tabula.read_pdf("dane_pdf/analiza_elektoratu/2019/K_135_17.PDF",
                     multiple_tables=True, 
                     pages=[10],
                     #stream = True
                     guess = True,  
                     #pandas_options={'header':True},
                     #area=(20, 40, 695, 589),
                     spreadsheet=True
                    )
name = '2017_10'

In [10]:
df

[                              0            1                 2  \
 0  PiS\r(wraz SP i PR)\r(N=300)  PO\r(N=131)  Kukiz’15\r(N=53)

                      3
 0  Nowoczesna*\r(N=41)  ,     0   1   2   3
 0   -   3  33   0
 1   3   -   6  38
 2   1   5   2   5
 3   3   2  10   0
 4   5  11   6   8
 5   2   4   6   8
 6  42   8   -   7
 7   1  44  13   -
 8   -   2   2   2
 9  35  18  21  30]

In [60]:
del df[1][4]

In [11]:
df_clean = pd.concat(df[:2]).reset_index()#.drop([0,2])
#df_clean.iloc[0,5] = df_clean.iloc[0,5].replace('r','')
#list_col = [ str(c).split('\rN')[0] for c in df_clean.iloc[0].to_list()]
list_col = df[0].loc[0].to_list()
list_col = [ str(c).replace('\r', '') for c in list_col]
del df_clean['index']
df_clean

,0,1,2,3
0,PiS\r(wraz SP i PR)\r(N=300),PO\r(N=131),Kukiz’15\r(N=53),Nowoczesna*\r(N=41)
1,-,3,33,0
2,3,-,6,38
3,1,5,2,5
4,3,2,10,0
5,5,11,6,8
6,2,4,6,8
7,42,8,-,7
8,1,44,13,-
9,-,2,2,2
10,35,18,21,30

In [48]:
df_clean.iloc[0]
columns = df_clean.iloc[0]
list_col[0] = 'Party'
#df_clean.columns = list_col
#df_clean = df_clean.drop([0])

In [49]:
df_clean

,0,1,2,3,4,5
0,PiS\r(+ SP i P)\rN=500,PO\rN=231,Wiosna\rN=161,Kukiz’15\rN=80,SLD\rN=46,PSL\rN=54
1,30,3,7,-,2,9
2,3,-,27,9,18,36
3,8,16,5,3,18,-
4,1,24,-,4,24,4
5,1,14,11,3,-,2
6,1,19,7,3,2,5
7,-,2,2,30,0,7
8,1,1,13,0,0,2
9,3,1,2,6,2,2
10,2,0,0,5,0,4
11,1,1,4,2,2,2
12,43,17,16,30,25,22

In [12]:
df_clean.loc[0] = [str(c).replace('\r', '') for c in df_clean.loc[0]]

In [13]:
df_clean = df_clean.fillna(0)
df_clean

                           0          1               2                  3
0   PiS(wraz SP i PR)(N=300)  PO(N=131)  Kukiz’15(N=53)  Nowoczesna*(N=41)
1                          -          3              33                  0
2                          3          -               6                 38
3                          1          5               2                  5
4                          3          2              10                  0
5                          5         11               6                  8
6                          2          4               6                  8
7                         42          8               -                  7
8                          1         44              13                  -
9                          -          2               2                  2
10                        35         18              21                 30

In [14]:
df_clean.to_csv('dane_pdf/analiza_elektoratu/'+name+'.csv', index = False, header=False)

# Dane - pytanie elektoratów

In [140]:
df = tabula.read_pdf("dane_pdf/charaktetyryka_pogladow/pdf/K_124_19.PDF",
                     multiple_tables=True, 
                     pages=[21,22],
                     #stream = True
                     guess = True,  
                     #pandas_options={'header':True},
                     #area=(20, 40, 695, 589),
                     spreadsheet=True
                    )

In [129]:
df_names = df[0]

## Points

In [96]:
for i in range(len(df)):
    df[i] = df[i].dropna().reset_index()
    df[i]
catg = 'points'

## Percent

In [111]:
for i in range(len(df)):
    df[i] = df[i].drop(0)
    df[i] = df[i].drop(2)
    df[i]
catg = 'percent'

KeyError: '[2] not found in axis'

In [131]:
result = pd.concat([df_names,df[0],df[1]]).reset_index()
del result['index']
try:
    del result['level_0']
except:
    pass
result

,0,1,2,3
0,KW Prawo\ri Spra-\rwiedliwość,KKW Koalicja\rObywatelska\rPO .N IPL\rZieloni,KW Sojusz\rLewicy Demo-\rkratycznej,KW Polskie\rStronnictwo\rLudowe
1,"1,83","2,18","2,13","2,06"
2,"2,84","3,62","3,29","3,00"
3,"4,10","4,35","4,44","4,20"
4,"6,03","4,57","4,55","4,91"
5,"4,06","5,04","4,88","4,50"
6,"5,31","3,35","2,50","4,09"
7,"5,37","2,83","1,97","3,57"
8,"6,11","3,38","2,26","4,64"
9,"3,70","1,84","1,42","2,10"
10,"4,64","2,40","2,65","3,34"
11,"6,27","4,07","4,46","5,19"
12,"6,44","4,24","4,14","5,14"
13,"4,16","3,84","4,17","4,49"
14,"3,17","1,86","1,92","1,99"

In [132]:
result = result.drop_duplicates(subset=None, keep='first', inplace=False)

In [133]:
result = result.apply(lambda x: x.str.replace(',','.'))

In [134]:
result[0] = [q.replace('\n',' ').replace('\r','') if type(q) == str else 'Question' for q in result[0]]
result.loc[0] = [q.replace('\n',' ').replace('\r','') if type(q) == str else 'Question' for q in result.loc[0]]

In [135]:
result

,0,1,2,3
0,KW Prawoi Spra-wiedliwość,KKW KoalicjaObywatelskaPO .N IPLZieloni,KW SojuszLewicy Demo-kratycznej,KW PolskieStronnictwoLudowe
1,1.83,2.18,2.13,2.06
2,2.84,3.62,3.29,3.00
3,4.10,4.35,4.44,4.20
4,6.03,4.57,4.55,4.91
5,4.06,5.04,4.88,4.50
6,5.31,3.35,2.50,4.09
7,5.37,2.83,1.97,3.57
8,6.11,3.38,2.26,4.64
9,3.70,1.84,1.42,2.10
10,4.64,2.40,2.65,3.34
11,6.27,4.07,4.46,5.19
12,6.44,4.24,4.14,5.14
13,4.16,3.84,4.17,4.49
14,3.17,1.86,1.92,1.99

In [137]:
result.to_csv('dane_pdf/charaktetyryka_pogladow/2019_'+catg+'.csv', index = False, header=False)

In [136]:
catg = 'points'